<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:fragment="layout(content)">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${title}">Base Html</title>
<!--css -->
<link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
<link th:rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- start navbar  -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Smart Contact Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/signin}">Login</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/signup}">SignUp</a>
				</li>
			</ul>

		</div>
	</nav>
	<!-- end navbar  -->
	
	

	<div th:replace="${content}"></div>



	<script th:src="@{/bootstrap/js/jquery.js}"></script>
	<script th:src="@{/bootstrap/js/popper.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/myscript.js}"></script>
</body>

</html>